@model IEnumerable<SchoolErp.Banks>

@{
    ViewBag.Title = "BankDemo";
}

<h2>BankDemo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignaturePicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignaturePicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
